html, body {
    font-family: "Pliant", sans-serif;
    height: 100px;
}
.whole {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
}

.nameLogoH {
    font-family: "Pliant", sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding-left: 15px;
    padding-top: 9px;
}

.themeH {
    width: 40px;   
    border-radius: 50%;
    border: 1px transparent;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.themeH:hover {
    transform: scale(1.05);
}
.themeH:active {
    transform: scale(1);
}

.whole2 {
    padding: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authDiv1 {
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border: 1px transparent;
    border-radius: 10px;
    flex-shrink: 0; 
    animation: login_int 0.2s ease-out;
}

.authDiv2 {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border: 1px transparent;
    border-radius: 10px;
    flex-shrink: 0; 
    animation: signup_int 0.2s ease-out;
}

.passBack {
    height: 20px;
    max-width: 40px;
    width: 100%;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px transparent;
}

.passBack:hover {
    transform: scale(1.03);
}

.passBack:active {
    transform: scale(1);
}



@keyframes login_int {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes signup_int {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.authContainer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authContainer2 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.auth {
    display: flex;
    flex-direction: column;
}

.startLabel {
    font-family: "Pliant", sans-serif;
    font-weight: bold;
    font-size: 27px;
    align-self: center;
    text-align: center;
    padding-bottom: 25px;
}

.authLab {
    padding: 10px;
    font-family: "Pliant", sans-serif;
    font-size: 12px;
    align-self: center;
}

.authLab:hover {
    color: rgb(12, 47, 244);
}

.authLab:active {
    color: rgb(12, 47, 244);
    transform: scale(0.98);
}


.authLog {
    margin: 10px;
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid grey;
    outline: none;
}

.authLog.dont {
    border: 1px solid red;
}

.authLog.exist {
    border: 1px solid green;
}

@keyframes errorL {
    from {
        opacity: 0;
        transform: transformX(100px);
    }
    to {
        opacity: 1;
        transform: transformX(0px);
    }
}

.errorLabel {
    color: red;
    font-family: "Pliant", sans-serif;
    font-size: 12px;
    text-align: center;
    animation: errorL 0.2s ease-out;
}

.authLog:hover {
    border: 1px solid rgb(24, 121, 205);;
}

.authBut {
    height: 30px;
    max-width: 290px;
    width: 100%;
    border-radius: 10px;
    border: 1px transparent;
    align-self: center;
}

.authBut:hover {
    transform: scale(1.03);
}

.authBut:active {
    transform: scale(1);
}

.signLab {
    margin-left: 12px;
    font-family: "Pliant", sans-serif;
    font-size: 16px;
    font-weight: 800;
}

.signLabb {
    font-family: "Pliant", sans-serif;
    font-size: 14px;
    text-align: justify;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}